<div class="has-text-centered">
  <h1 class="is-size-2" style="font-weight: 600">
    Nirala Consultancy
    <div style="font-size: 1.2rem">
      Prop:- Sudhir Kumar Nirala
    </div>
    <div style="font-size: 1rem">

      Phone No. :- <a href="tel:+91943028700">+91 943028700</a>
    </div>
    <div style="font-size: 1rem">
      Email-id: <a href="mailto:mr.sknirala@gmail.com?Subject=Hello%20sir" target="_top">mr.sknirala@gmail.com</a>
    </div>
    <div style="font-size: 1rem">
      Address:-
      <i>
        Lohiyanagar ward-28, Dinkar Path, <br>
        Near Gyanprabha School, Begusarai-851218.
      </i>

    </div>
  </h1>
  <br>
  <h2 class="is-size-3 primary">
    Solution for Income Tax & GST
  </h2>
</div>
<div class="container">
  <br>
  <div class="columns is-vcentered">

    <div class="column is-7">
      <img src="../../assets/img/landing-page.svg" alt="">
    </div>
    <div class="column is-5 ">



      <h2 class="is-size-4">
        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <a href="https://www.incometaxindiaefiling.gov.in/" target="_blank">
            IT Return Filling
          </a>
          <br>
        </span>
      </h2>
      <br>
      <h2 class="is-size-4">
        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <a href="https://services.gst.gov.in/services/login" target="_blank">
            GST Registration & Return Filling
          </a>
          <br>
        </span>
      </h2>
      <br>
      <h2 class="is-size-4">

        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <a href="https://shramsuvidha.gov.in/" target="_blank">
            EPF & ESIC Registration & Return Filing
          </a>
          <br>
        </span>
      </h2>
      <br>
      <h2 class="is-size-4">

        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <span>
            eTds Return Filling
          </span>
          <br>
        </span>
      </h2>
      <br>
      <h2 class="is-size-4">
        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <span>
            Digital Signature
          </span>
          <br>
        </span>

      </h2>
      <br>
      <h2 class="is-size-4">
        <span class="icon-box-text">
          <i class="material-icons my-material-icons">
            star
          </i>
          <span>
            Pancard,Tancard ...
          </span>
          <br>
        </span>
      </h2>
      <br>
    </div>

  </div>

</div>

